type mtk_hal_videotelephony_service, protected_service, service_manager_type, hal_service_type;
type mtk_hal_netdagent_service, protected_service, service_manager_type, hal_service_type;
